{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h5 class="p-3 mb-0 border-bottom border-gray font-weight-bold">
        <i class="fas fa-rss"></i> News
    </h5>

    <div style="padding-left: 2.2rem; padding-right: 1rem; padding-bottom: 0.5rem;">
        {% for year in news_by_year %}
        <!-- <div class="d-flex py-3 {% if not_first -%}border-top border-gray{%- endif %}"> -->
        <div class="d-flex py-2">
            {% assign not_first = true %}

            <div class="text-muted" style="width: 3.6rem; flex: 0 0 3.6rem; line-height: 1.45;">
                {{ year.name }}
            </div>

            <div style="flex: 1;">
                {% for item in year.items %}
                <div class="d-flex align-items-start" {% unless forloop.first %}style="margin-top: 0.6rem;"{% endunless %}>
                    <div class="text-muted no-break" style="width: 2.4rem; flex: 0 0 2.4rem; margin-right: 0.45rem; line-height: 1.45;">
                        <i>{{ item.date | date: "%b" }}</i>
                    </div>

                    <div style="flex: 1; line-height: 1.45;">
                        {{ item.title }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>